.banner{
    height: 50vh;
    width: 75vw;
    color: white;
    background: linear-gradient(to bottom,blue,rgb(7, 7, 71));
}
.Topsection{
    height: 20%;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TopButton{
    background-color: transparent;
    border: none;
    color: white;
    height: 64px;
}
.TopButton:hover{
    border-bottom: 2px solid white;}
    .TopButton:active{
        border-bottom: 2px solid white;}
.TopInput{
    background-color:hsl(0, 0%, 32%);
    height: 30px;
    color: white;
    /* border: none; */
    box-shadow: 2px 2px 2px 2px rgb(63, 63, 190);
}
.heading{
    height: 80%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* justify-content: space-around; */
    padding-left: 30px;
}
.heading  h1{
    font-size: 50px;
    margin:3% 0px 20px 0px;
    
}
.heading h3{
    font-size: 25px;
}